body {
  color: #444;
  font-family: Open Sans, sans-serif;
}

a {
  color: #ffc800;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

.back-to-top {
  visibility: hidden;
  opacity: 0;
  z-index: 996;
  background: #ffc800;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  transition: all .4s;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.back-to-top i {
  color: #fff;
  font-size: 28px;
  line-height: 0;
}

.back-to-top:hover {
  color: #fff;
  background: #000;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#preloader {
  z-index: 9999;
  background: #fff;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

#preloader:before {
  content: "";
  border: 6px solid #fff;
  border-color: #fff #ffc800;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: 1s linear infinite animate-preloader;
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (width <= 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

#header {
  z-index: 997;
  background: #fff;
  border-bottom: 1px solid #e6f2fb;
  padding: 15px 0;
  transition: all .5s;
}

#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0 2px 15px #12426514;
}

#header .logo {
  letter-spacing: .5px;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
}

#header .logo a {
  color: #000;
}

#header .logo img {
  max-height: 40px;
}

@media (width <= 992px) {
  #header .logo {
    font-size: 28px;
  }
}

.navbar {
  padding: 0;
}

.navbar ul {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  color: #000;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  transition: all .3s;
  display: flex;
}

.navbar a i, .navbar a:focus i {
  margin-left: 5px;
  font-size: 12px;
  line-height: 0;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffc800;
}

.navbar .getstarted, .navbar .getstarted:focus {
  color: #fff;
  background: #ffc800;
  border-radius: 4px;
  margin-left: 30px;
  padding: 8px 20px;
}

.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #000;
}

.navbar .dropdown ul {
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  margin: 0;
  padding: 10px 0;
  transition: all .3s;
  display: block;
  position: absolute;
  top: calc(100% + 30px);
  left: 14px;
  box-shadow: 0 0 30px #7f89a140;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  text-transform: none;
  padding: 10px 20px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #ffc800;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.navbar .dropdown .dropdown ul {
  visibility: hidden;
  top: 0;
  left: calc(100% - 30px);
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 100%;
}

@media (width <= 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #000;
  cursor: pointer;
  font-size: 28px;
  line-height: 0;
  transition: all .5s;
  display: none;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (width <= 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  z-index: 999;
  background: #0a263ae6;
  transition: all .3s;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  background-color: #fff;
  padding: 10px 0;
  transition: all .3s;
  display: block;
  position: absolute;
  inset: 55px 15px 15px;
  overflow-y: auto;
}

.navbar-mobile a, .navbar-mobile a:focus {
  color: #000;
  padding: 10px 20px;
  font-size: 15px;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #ffc800;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  margin: 10px 20px;
  padding: 10px 0;
  display: none;
  position: static;
  box-shadow: 0 0 30px #7f89a140;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #ffc800;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.hero {
  background: url("hero-bg.8c6cf63b.webp") top / cover;
  width: 100%;
  position: relative;
}

.hero:before {
  content: "";
  background: #fffc;
  position: absolute;
  inset: 0;
}

.hero .container {
  padding-top: 80px;
}

.hero h1 {
  color: #000;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
}

.hero h2 {
  color: #5e5e5e;
  margin: 10px 0 0;
  font-size: 22px;
}

.hero .btn-get-started {
  letter-spacing: .5px;
  color: #fff;
  background: #ffc800;
  border-radius: 5px;
  margin-top: 30px;
  padding: 14px 50px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s;
  display: inline-block;
}

.hero .btn-get-started:hover {
  background: #000;
}

.hero .icon-boxes {
  margin-top: 100px;
}

.hero .icon-box {
  z-index: 1;
  background: #fff;
  border-radius: 8px;
  padding: 50px 30px;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 29px #12426514;
}

.hero .icon-box .title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.hero .icon-box .title a {
  color: #000;
  transition: all .3s;
}

.hero .icon-box .description {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 28px;
}

.hero .icon-box .icon {
  color: #ffc800;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 36px;
  line-height: 1;
  transition: all .3s ease-in-out;
  display: inline-block;
}

.hero .icon-box:hover {
  transform: scale(1.08);
}

.hero .icon-box:hover .title a {
  color: #ffc800;
}

@media (width >= 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (height <= 800px) {
  .hero {
    height: auto;
  }
}

@media (width <= 992px) {
  .hero {
    height: auto;
  }

  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-size: 32px;
  font-weight: bold;
}

.section-title p {
  color: #919191;
  margin-bottom: 0;
  font-size: 14px;
}

.about .content h3 {
  font-size: 26px;
  font-weight: 600;
}

.about .content ul {
  padding: 0;
  list-style: none;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  color: #ffc800;
  font-size: 20px;
  line-height: 1;
  position: absolute;
  top: 2px;
  left: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  letter-spacing: 1px;
  color: #ffc800;
  border: 2px solid #ffc800;
  border-radius: 5px;
  margin-top: 6px;
  padding: 12px 32px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all .3s;
  animation-delay: .8s;
  display: inline-block;
}

.about .content .btn-learn-more:hover {
  color: #fff;
  background: #ffc800;
  text-decoration: none;
}

.counts {
  padding: 60px 0;
}

.counts .count-box {
  text-align: center;
  width: 100%;
}

.counts .count-box span {
  color: #000;
  margin: auto;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  display: block;
}

.counts .count-box p {
  color: #000;
  padding: 8px 0 0;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.about-video .content {
  font-size: 15px;
}

.about-video .content h3 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.about-video .content ul {
  padding: 0;
  list-style: none;
}

.about-video .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about-video .content ul i {
  color: #ffc800;
  font-size: 24px;
  position: absolute;
  top: -2px;
  left: 0;
}

.about-video .content p:last-child {
  margin-bottom: 0;
}

.about-video .play-btn {
  background: radial-gradient(#ffc800 50%, #2487ce66 52%);
  border-radius: 50%;
  width: 94px;
  height: 94px;
  display: block;
  position: absolute;
  top: calc(50% - 47px);
  left: calc(50% - 47px);
  overflow: hidden;
}

.about-video .play-btn:after {
  content: "";
  z-index: 100;
  border-top: 10px solid #0000;
  border-bottom: 10px solid #0000;
  border-left: 15px solid #fff;
  width: 0;
  height: 0;
  transition: all .4s cubic-bezier(.55, .055, .675, .19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-40%)translateY(-50%);
}

.about-video .play-btn:before {
  content: "";
  animation: 2s pulsate-btn;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  background: #c6100000;
  border: 5px solid #2487ceb3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -15%;
  left: -15%;
}

.about-video .play-btn:hover:after {
  border-left: 15px solid #ffc800;
  transform: scale(20);
}

.about-video .play-btn:hover:before {
  content: "";
  z-index: 200;
  border: 10px solid #0000;
  border-left: 15px solid #fff;
  border-right: none;
  border-radius: 0;
  width: 0;
  height: 0;
  animation: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-40%)translateY(-50%);
}

@keyframes pulsate-btn {
  0% {
    opacity: 1;
    transform: scale(.6);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.clients {
  text-align: center;
  padding: 15px 0;
}

.clients img {
  filter: grayscale(100);
  max-width: 45%;
  padding: 15px 0;
  transition: all .4s ease-in-out;
  display: inline-block;
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (width <= 768px) {
  .clients img {
    max-width: 40%;
  }
}

.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  border-radius: 50%;
  width: 90px;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  color: #111;
  margin: 10px 0 5px;
  font-size: 18px;
  font-weight: bold;
}

.testimonials .testimonial-item h4 {
  color: #999;
  margin: 0;
  font-size: 14px;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #c9e3f5;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  position: relative;
  left: -5px;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  position: relative;
  top: 10px;
  right: -5px;
}

.testimonials .testimonial-item p {
  background: #f3f9fd;
  border-radius: 6px;
  margin: 0 15px 35px;
  padding: 20px;
  font-style: italic;
  position: relative;
}

.testimonials .testimonial-item p:after {
  content: "";
  border-top: 20px solid #f3f9fd;
  border-left: 20px solid #0000;
  border-right: 20px solid #0000;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #fff;
  border: 1px solid #ffc800;
  width: 12px;
  height: 12px;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc800;
}

.services .icon-box {
  text-align: center;
  background: #fff;
  padding: 70px 20px 80px;
  transition: all .3s ease-in-out;
  box-shadow: 0 5px 90px #6e7b830d;
}

.services .icon-box .icon {
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: all .3s ease-in-out;
  display: flex;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: all .5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  fill: #f5f5f5;
  transition: all .5s;
}

.services .icon-box h4 {
  margin: 10px 0 15px;
  font-size: 22px;
  font-weight: 600;
}

.services .icon-box h4 a {
  color: #000;
  transition: all .3s ease-in-out;
}

.services .icon-box p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0 0 35px #00000014;
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

.cta {
  background: #ffc800 0 0 / cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 35px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  transition: all .5s;
  display: inline-block;
}

.cta .cta-btn:hover {
  color: #ffc800;
  background: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  text-align: center;
  border-radius: 50px;
  margin: 0 auto 35px;
  padding: 2px 15px;
  list-style: none;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  text-transform: uppercase;
  color: #444;
  margin-bottom: 5px;
  padding: 10px 15px 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all .3s ease-in-out;
  display: inline-block;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #ffc800;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  z-index: 1;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-wrap:before {
  content: "";
  z-index: 2;
  opacity: 0;
  background: #2487ce99;
  transition: all .3s ease-in-out;
  position: absolute;
  inset: 30px;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  text-align: center;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  display: flex;
  position: absolute;
  inset: 0;
}

.portfolio .portfolio-wrap .portfolio-info:before {
  content: "";
  z-index: 9994;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  width: 48px;
  height: 48px;
  transition: all .5s;
  display: block;
  position: absolute;
  top: 35px;
  left: 35px;
}

.portfolio .portfolio-wrap .portfolio-info:after {
  content: "";
  z-index: 9994;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  width: 48px;
  height: 48px;
  transition: all .5s;
  display: block;
  position: absolute;
  bottom: 35px;
  right: 35px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff9;
  margin: 0 2px;
  font-size: 28px;
  transition: all .3s;
  display: inline-block;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover:before {
  opacity: 1;
  inset: 0;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info:before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info:after {
  bottom: 15px;
  right: 15px;
}

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #fff;
  border: 1px solid #ffc800;
  width: 12px;
  height: 12px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc800;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0 0 30px #12426514;
}

.portfolio-details .portfolio-info h3 {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.portfolio-details .portfolio-info ul {
  padding: 0;
  font-size: 15px;
  list-style: none;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.team .member {
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 2px 15px #12426514;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  opacity: 0;
  text-align: center;
  background: #ffffffd9;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all .3s ease-in-out;
  display: inline-flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.team .member .social a {
  color: #000;
  margin: 0 10px;
  transition: color .3s;
  display: inline-block;
}

.team .member .social a:hover {
  color: #ffc800;
}

.team .member .social i {
  margin: 0 2px;
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  color: #000;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.team .member .member-info span {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
  display: block;
}

.team .member .member-info p {
  color: #777;
  font-size: 14px;
  font-style: italic;
  line-height: 26px;
}

.team .member:hover .social {
  opacity: 1;
}

.pricing .box {
  text-align: center;
  background: #fefefe;
  border-radius: 8px;
  padding: 40px 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 90px #6e7b831a;
}

.pricing .box h3 {
  text-transform: uppercase;
  color: #000;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}

.pricing .box h4 {
  color: #ffc800;
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-size: 42px;
  font-weight: 500;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  color: #000;
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .box .btn-wrap {
  text-align: center;
  padding: 15px;
}

.pricing .box .btn-buy {
  color: #ffc800;
  border: 2px solid #ffc800;
  border-radius: 4px;
  padding: 10px 40px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  transition: all .3s;
  display: inline-block;
}

.pricing .box .btn-buy:hover {
  color: #fff;
  background: #ffc800;
}

.pricing .featured {
  background: #ffc800;
}

.pricing .featured h3, .pricing .featured h4, .pricing .featured h4 span, .pricing .featured ul, .pricing .featured ul .na {
  color: #fff;
}

.pricing .featured .btn-wrap {
  text-align: center;
  padding: 15px;
}

.pricing .featured .btn-buy {
  color: #fff;
  border: 2px solid #fff;
}

.pricing .featured .btn-buy:hover {
  color: #ffc800;
  background: #fff;
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.faq .faq-list a {
  cursor: pointer;
  outline: none;
  padding: 0 30px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  position: relative;
}

.faq .faq-list .icon-help {
  color: #87c1ea;
  font-size: 24px;
  position: absolute;
  left: 20px;
  right: 0;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #ffc800;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (width <= 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

.contact .info {
  background: #fff;
  width: 100%;
}

.contact .info i {
  color: #ffc800;
  float: left;
  background: #e3f0fa;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: 20px;
  transition: all .3s ease-in-out;
  display: flex;
}

.contact .info h4 {
  color: #000;
  margin-bottom: 5px;
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
}

.contact .info p {
  color: #217bbc;
  margin-bottom: 0;
  padding: 0 0 0 60px;
  font-size: 14px;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  color: #fff;
  background: #ffc800;
}

.contact .php-email-form {
  background: #fff;
  width: 100%;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  color: #fff;
  text-align: left;
  background: #ed3c0d;
  padding: 15px;
  font-weight: 600;
  display: none;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  color: #fff;
  text-align: center;
  background: #18d26e;
  padding: 15px;
  font-weight: 600;
  display: none;
}

.contact .php-email-form .loading {
  text-align: center;
  background: #fff;
  padding: 15px;
  display: none;
}

.contact .php-email-form .loading:before {
  content: "";
  border: 3px solid #18d26e;
  border-top-color: #eee;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  animation: 1s linear infinite animate-loading;
  display: inline-block;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  border-radius: 4px;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #ffc800;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  color: #fff;
  background: #ffc800;
  border: 0;
  border-radius: 4px;
  padding: 10px 30px;
  transition: all .4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #000;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.breadcrumbs {
  background: #f8fbfe;
  min-height: 40px;
  margin-top: 72px;
  padding: 15px 0;
}

@media (width <= 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  display: flex;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li:before {
  color: #1a5e90;
  content: "/";
  padding-right: 10px;
  display: inline-block;
}

@media (width <= 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

#footer {
  color: #444;
  background: #f8fbfe;
  font-size: 14px;
  box-shadow: 0 2px 15px #12426514;
}

#footer .footer-top {
  background: #fff;
  padding: 60px 0 30px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  margin: 0 0 10px;
  padding: 2px 0;
  font-size: 26px;
  font-weight: 300;
  line-height: 1;
}

#footer .footer-top .footer-contact p {
  color: #777;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

#footer .footer-top h4 {
  color: #000;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer .footer-top .footer-links ul i {
  color: #ffc800;
  padding-right: 2px;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  align-items: center;
  padding: 10px 0;
  display: flex;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777;
  line-height: 1;
  transition: all .3s;
  display: inline-block;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffc800;
  text-decoration: none;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  color: #444;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

#footer .footer-newsletter form {
  text-align: left;
  background: #fff;
  border: 1px solid #cde5f6;
  border-radius: 5px;
  margin-top: 30px;
  padding: 6px 10px;
  position: relative;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  width: calc(100% - 100px);
  padding: 4px 8px;
}

#footer .footer-newsletter form input[type="submit"] {
  color: #fff;
  background: #ffc800;
  border: 0;
  border-radius: 0 5px 5px 0;
  padding: 0 20px 2px;
  font-size: 16px;
  transition: all .3s;
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -2px;
  box-shadow: 0 2px 15px #0000001a;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #000;
}

#footer .credits {
  color: #444;
  padding-top: 5px;
  font-size: 13px;
}

#footer .social-links a {
  color: #fff;
  text-align: center;
  background: #ffc800;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  margin-right: 4px;
  padding: 8px 0;
  font-size: 18px;
  line-height: 1;
  transition: all .3s;
  display: inline-block;
}

#footer .social-links a:hover {
  color: #fff;
  background: #000;
  text-decoration: none;
}

/*# sourceMappingURL=index.f3b972e4.css.map */
